.icon-start-cloning { background-image:url('icons/upload.png') }
.icon-cancel-cloning { background-image:url('icons/cross-16-ns.png') }
.icon-stop-cloning { background-image:url('icons/badge-circle-power-16-ns.png') }
.icon-create-image { background-image:url('icons/download.png') }
.icon-delete { background-image:url('icons/cross-16-ns.png') }
.icon-add { background-image:url('icons/badge-circle-plus-16-ns.png') }
